* {
  margin: 0;
  padding: 0;
  cursor: default;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 1920px;
  font-family: "Segoe UI Regular";
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  padding: 20px;
  background-color: black;
  -webkit-box-shadow: 0px 11px 13px 7px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 11px 13px 7px rgba(0, 0, 0, 0.2);
}

header .cart-button {
  padding: 8px 16px;
  border-radius: 7px;
  border: none;
  background-color: white;
  font-size: 18px;
}

header .cart-button:hover {
  background-color: #f1f1f1;
}

header .cart-button:active {
  -webkit-box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.29);
          box-shadow: inset 0px 0px 10px 2px rgba(0, 0, 0, 0.29);
  outline: none;
}

header .cart-button:focus {
  outline: none;
}

main .goods-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 1000px;
  margin: 50px auto;
}

main .goods-list .goods-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  padding: 20px 0;
  border: 1px solid rgba(0, 0, 0, 0.4);
  border-radius: 10px;
}

main .goods-list .goods-item:hover {
  -webkit-box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.2);
          box-shadow: 0px 5px 6px 1px rgba(0, 0, 0, 0.2);
}
